h1{
    text-align: center;
}

body {
                background-color: #d0c5d0;
            }

.col-md-8{
    background-color: #d0c5d0;
    text-align: center;
}

#principal {
    display: inline-block;
    text-align: left; 
    list-style-position: inside;
}

h2{
    text-align: center;
}

#formula{
    text-align: center;
}

.card {
    background-color: #f8f8f8;
    border-radius: 15px;
}
